.row.pt-3.m-0
  .col-lg-7.p-0
    #mainBox
      This is a placeholder
  .col-lg-5.p-0#small_image_boxes
    .row.m-0
      .smallBox.col-6
        This is a placeholder
      .smallBox.col-6
        This is a placeholder
    .row.m-0
      .smallBox.col-6
        This is a placeholder
      .smallBox.col-6
        This is a placeholder
.row.pt-3
  #bottom-border.col-12
