#carouselExampleControls.carousel.slide#main-carousel{ 'data-ride': "carousel" }
  .carousel-inner.mh-100
    .carousel-item.active
      = image_tag ('background-1.jpg'), class:'img-fluid', alt: 'first slide'
    .carousel-item
      = image_tag ('background-2.jpg'), class:'img-fluid', alt: 'first slide'
    .carousel-item
      = image_tag ('background-3.jpg'), class:'img-fluid', alt: 'first slide'
  %a.carousel-control-prev{ 'href': "#carouselExampleControls", 'role':"button", 'data-slide': "prev" }
    %span.carousel-control-prev-icon{'aria-hidden': "true"}
    %span.sr-only Previous
  %a.carousel-control-next{'href': "#carouselExampleControls", 'role': "button", 'data-slide': "next"}
    %span.carousel-control-next-icon{'aria-hidden': "true"}
    %span.sr-only Next
