.row.pt-3
  .col-lg-7.p-0
    #mainBox
      This is a placeholder
  .col-lg-5
    .row
      .smallBox.col-6
        This is a placeholder
      .smallBox.col-6
        This is a placeholder
    .row
      .smallBox.col-6
        This is a placeholder
      .smallBox.col-6
        This is a placeholder
.row.pt-2
  .col-lg-12
    .card
      .card-body
        .row#pet
          .petphoto.col-4 
            picture
          .col-3
            .row
              %h5 My Pets Name
            .row
              7/24/1999
            
        .row#pet2 picture
        .row#pet3 picture
        .row picture
  .col-lg-1

