.row.pt-3
  .col-lg-7.p-0
    #mainBox
      This is a placeholder
  .col-lg-5
    .row
      .smallBox.col-6
        This is a placeholder
      .smallBox.col-6
        This is a placeholder
    .row
      .smallBox.col-6
        This is a placeholder
      .smallBox.col-6
        This is a placeholder
.row.pt-4
  .col-lg-7
    %h3.text-center APetsLyfe
    %p.text-center Lorem ipsum...
  .col-lg-5
    %h2.text-center Log in
