// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#nav1 {
  background-color: #328CC1;
  box-shadow: 1px 1px 2px #2a2a2a;

  .navbar-brand{
    font-family: 'Roboto Slab', serif;
    color: #D9B310;
    text-shadow: 1px 1px 2px black;
    font-size: 1.8em;
  }
}

body{
  background-color: #D9DCD6;

  #bottom-border{
    background-color: rgb(159, 176, 169);
    height:12px;
    width:100% auto;
    border-radius: 5px;
    border: 1px solid black;
  }
}

#mainBox {
  background-color: rgb(168, 160, 122);
  width: 100% auto;
  height: 300px;
  border: 1px solid black;
}

.smallBox {
  background-color: rgb(141, 105, 152);
  width: 100% auto;
  height: 150px;
  border: 1px solid black;
}

.petphoto{
  background-color:red;
  witdth: 100% auto;
  height: 200px;
}
.card{
  background-color: #81C3D7;
}

.btn-bs-file{
    position:relative;
}
.btn-bs-file input[type="file"] {
  position: absolute;
   top: 0;
   right: 0;
   min-width: 100%;
   min-height: 100%;
   font-size: 100px;
   text-align: right;
   filter: alpha(opacity=0);
   opacity: 0;
   outline: none;
   background: white;
   cursor: inherit;
   display: block;
}

::-webkit-file-upload-button {
  background: #4AA0B5;
  color: white;
  padding: 0.5em;
}
