#nav1 {
  background-color: #328CC1;
  box-shadow: 1px 1px 2px #2a2a2a;

  .navbar-brand{
    font-family: 'Roboto Slab', serif;
    color: #D9B310;
    text-shadow: 1px 1px 2px black;
    font-size: 1.8em;
  }
}
