%h1.text-center All Posts
.row
  .col-2
  .col-8
    - @posts.each do |post|
      .row.card
        = link_to image_tag post.image.url(:medium), class: 'mt-4 img-fluid'
      .row
        %nbdp :
        = post.user.username
