%h1.text-center All Pets
.row
  .col-2
  .col-8
    - @posts.each do |post|
      .row.card
        = image_tag post.image.url(:medium), class: 'mt-4 max'
      .row
        %nbdp :
        = post.user.username
