%h1.text-center All Posts
.row
  - @posts.each do |post|
    .col-4
      = link_to image_tag(post.image.url(:medium)), user_post_path(post.user_id, post)
      %br
      %h5
        = link_to post.user.username
      = post.caption
